*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}


.clearfix::after{
    content: " ";
    clear: both;
    display: table;

}

.whiteFont{
    color: white;
}

.right{
    float: right;
}

.left{
    float: left;
}



/* ----------Top sec--------- */

.firstsec{
    background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.658)), url("/calculator.jpeg");
    background-position: center;
    background-size: cover;
    height: 40vh;
    position: relative;
   

}

.top_container{

    position: absolute;    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    color: #fff;

}


.textbox{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
    /* margin-top: 220px; */

}



.center {
    margin: auto;
    text-align: center;
  }

.incomeDisplayBox{
    background-color: #8b93ff;
    padding: 10px;
    margin: 10px;
      
}

.expensesDisplayBox{
    background-color: #ff8b8b;
    padding: 10px;
    margin: 10px;
    

}

.incomeWord,
.expensesWord{
    display: inline-block;
    float: left;
    
}

.expensesPercentage{
    display: inline-block;
    background-color: #ff1818;
    margin-left: 10px;
}



/* -------Bottom Part --------------------- */


.secSec{
     position: relative;
     display: block;
     margin: 10px auto;
    
}


.thirdSec{
    margin: 60px auto;
    max-width: 1000px;
}

.income_table,
.expenses_table{
    float: left;
    width: 450px;
    /* background-color: red; */
}

.income_table{
    margin-right: 60px;
}


.incometable_title{
    color: teal;
    font-size: 150%;
}


.expensestable_title{
    color: red;
    font-size: 150%;
}

.blocko{
    display: inline-block;
    /* float: left; */
}